body { background: #58e3c2; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 56px; display: flex; }
.block-product-0 { color: #97fbe2; font-size: 14px; margin-bottom: 5px; }
.block-sms-1 { color: #c90631; font-size: 21px; margin-bottom: 5px; }
.block-token-2 { color: #3c89d4; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #9faad2; font-size: 20px; margin-bottom: 5px; }
.block-email-4 { color: #99cd38; font-size: 21px; margin-bottom: 5px; }